  <div class="container">

  <div class="container-show">

    <div class="entete">
      <%= image_tag "logo.png", id:"logo" %>
    </div>

    <div class="diviseur">
      <%= image_tag "deco.jpg" %>
      <div class="droite">

        <p id="notice"><%= notice %></p>


          <% if @cocktail.photo.attached? %>
            <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo.key, height: 300, width: 400 %>)">

              <h2><%= @cocktail.name %></h2>
            </div>
          <% else %>
            <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(<%= asset_path("vase2.jpg") %>)">
              <h2><%= @cocktail.name %></h2>
            </div>

          <% end %>

          <div class="contenu">
            <%= link_to new_cocktail_dose_path(@cocktail) do %>
                Ingrédients
                <i class="fas fa-plus-circle"></i>
            <% end %>

            <ul>
                <% @doses.each do |d|%>
                <li><%= d.description %> de <%= d.ingredient.name %>
                  <%= link_to dose_path(d), method: :delete, data: { confirm: 'Voulez-vous supprimer cette dose ?' } do %>
                  <i class="fas fa-trash-alt"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>

            <p>Note: 3/5</p>
            <p>Votes: 258</p>
          </div>

          <div class="button-bottom">
              <%= link_to "Retour", root_path, class: "btn btn-wagonbar" %>
              <%= link_to "Supprimer", cocktail_path(@cocktail), method: :delete, data: { confirm: 'Voulez-vous supprimer ce cocktail ?' }, class: "btn btn-wagonbar" %>
          </div>

      </div>
    </div>
  </div>
</div>

