<div class="container">
  <div class="entete">
      <%= image_tag "logo.png", id:"logo" %>
    </div>
  <div class="myform">

    <h2>Ajouter une dose à la recette du <%= @cocktail.name %></h2>

    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description, :label => "Description", hint: "ex: 2cl, 3 feuilles, 1 zest etc..." %>
      <%= f.association :ingredient, :label => "Ingrédient" %>
      <%= f.button :submit, "Créer une dose", class: "btn btn-wagonbar" %>

      <%= link_to 'Annuler', cocktail_path(@cocktail), class: "btn btn-wagonbar" %>
  <% end %>
  </div>

</div>
